/* ******* */
/* common */
/* ******* */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Playfair Display", serif;
    background-color: lightblue;
}
a {
	text-decoration: none;
}
a:hover {
	opacity: 0.9;
}
a:active {
	opacity: 1;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container.flex{
    position: fi;
}
/* ******* */
/* header */
/* ******* */
header {
	padding: 10px 0;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #bcbcbc;
	overflow: hidden;
	background: rgb(238 238 238 / 70%);
	z-index: 9;
}
header .blur {
	position: absolute;
	z-index: -1;
	filter: blur(2px);
	opacity: .9;	
	width: 100%;
	height: 120%;
	left: 0;
	top: -10px;
	backdrop-filter: blur(10px);
}
header .logo {
	display: flex;
}
header .logo img {
	width: 50px;
	border-radius: 50%;
}
header nav a {
	margin-left: 30px;
	font-weight: 600;
	color: #6c6c6c;
	font-size: 22px;
}
header nav a:hover {
	color: #7e7e7e;
}
header nav a:active {
	color: #6c6c6c;
}
header nav a.active:hover,
header nav a.active:active,
header nav a.active {
	color: #2e2e2e;
}
header nav a[download] {
	margin-left: 8px;
}

/* ******* */
/* main */
/* ******* */
main {
	min-height: calc(100vh - 84px);
	padding: 114px 0 80px;
}

/* ******* */
/* filters */
/* ******* */
.filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}
.filters li {
	background: #eee;
	padding: 8px 15px;
	list-style: none;
	cursor: pointer;
	user-select: none;
	font-weight: 600;
	margin-right: 20px;
	margin-bottom: 15px;
}
.filters li.active {
	background: #969696;
	color: white;
}

/* ******* */
/* projects */
/* ******* */
.projects {
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: -20px;
}
.projects .project {
	width: calc(33% - 30px);
	border: 1px solid #dbdbdb;
	margin: 0 15px 30px;
}
.projects .project .project-img {
	height: 160px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.projects .project p {
	font-weight: 600;
}
.projects .project img {
	width: 100%;
	display: block;
}
.projects .project .content {
	border-top: 1px solid #dbdbdb;
	background: white;
	padding: 20px;
}
.projects .project .content img {
	margin-left: 20px;
	width: 20px;
}

/* ******* */
/* footer */
/* ******* */
footer {
	background: #eee;
	padding: 30px 0;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
}

/* ******* */
/* About page */
/* ******* */
.about-page h1 {
	font-weight: 800;
	margin-bottom: 40px;
}

/* *************************** */
/* TABLET */
/* *************************** */
@media screen and (max-width: 992px) {
	/* ******* */
	/* projects */
	/* ******* */
	.projects .project {
    width: calc(50% - 30px);
	}
}

/* *************************** */
/* SMART PHONES */
/* *************************** */
@media screen and (max-width: 668px) {
	/* ******* */
	/* projects */
	/* ******* */
	.projects {
		padding: 0 20px;
	}
	.projects .project {
		width: 100%;
		margin: 0 0 40px;
	}
}

/* *************************** */
/* FEATURE PHONES */
/* *************************** */
@media screen and (max-width: 520px) {
	/* ******* */
	/* main */
	/* ******* */
	main {
		padding: 94px 0 80px;
	}	
	/* ******* */
	/* header */
	/* ******* */
	header {
		padding: 7px 0;
	}
	header .logo img {
		width: 40px;
	}
	header nav a {
		margin-left: 15px;
		font-size: 18px;
	}
	/* ******* */
	/* filters */
	/* ******* */
	.filters li {
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
	}
	/* ******* */
	/* projects */
	/* ******* */
	.projects {
		padding: 0 10px;
	}
}